body {
    margin: 0; display: flex; flex-direction: column; min-height: 100vh; background-color: lightblue;
}

.header {
    height: 18vh;
    background-image: url(skillll.jpg);
}

.h1 {
    font-family: vineta; color: #f0f0f0; 
}

.nav {
    font-size: large; width: 100%; text-align: center; 
}

.ulnav {
    list-style-type: none; 
    text-align:center;
}

.linav {
    display: inline-block; margin-right: 20px; 
}

.a {
    text-decoration: none; color: aliceblue;
}

.nav a:hover {
    background-color: rgba(109, 209, 209, 0.888); padding: 14px 16px; 
}

.isi {
    display: flex; gap: 20px; align-items: flex-start; flex: 1; margin-left: 30px;
}

.p {
    text-align: justify; text-indent: 40px;
}

.aside {
    flex: 1; background-color: #f0f0f0; padding: 15px;
}

.footer {
    padding: 8px; text-align: center; background-color: rgb(125, 199, 224);
}